.scaleY-transition {
  transition: all .3s;
}
.scaleY-enter {
  transform: scale(1, 0);
  opacity: 0;
}
.scaleY-leave {
  transition: none;
}

.fade-transition {
  transition: all .3s;
}
.fade-enter {
  opacity: 0;
}
.fade-leave {
  opacity: 0;
}
