$header-background-color: #666;
$content-background-color: #f9f9f9;
$hover-background-color: #E4F2DC;

$default-border-color: #ccc;

$default-color: #333;
$small-color: #999;
$info-color: #CE71BA;
$warning-color: #F66666;

$default-btn-color: #eee;
$info-btn-color: #5A8FD8;
$import-btn-color: #49D067;